*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/icons/moonstars.svg);
}

.light{
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/icons/sun.svg);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

body{
  background: var(--bg-url) no-repeat top center/cover;
  height: 100%;
}

#container{
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 15px;
}

#profile img{
  width: 112px;
  border-radius: 50%;
}

#profile p{
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;
}

/* switch */
#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.2s;
}

.light #switch button{
  animation: slide-in 0.2s forwards;
}

#switch button:hover{
  outline: 8px solid var(--highlight-color);
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  --webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px -10px;
}

ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  /*para funcionar no navegador safari*/
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2;
  text-align: center;
}

/* pseudo-selector*/
ul li a:hover{
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* Estilos para o primeiro submenu */
.sub-menu {
  display: none;
}

.icon-open {
    font-size: 35px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    padding-right: 10px; /* espaço para o ícone */
  }

.icon-close {
    font-size: 35px;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    padding-right: 10px; /* espaço para o ícone */
  }

.hidden {
  display: none;
}

.sub-menu.show {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  /*para funcionar no navegador safari*/
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2;
  text-align: center;
}

/* Estilos para o segundo submenu */
.sub-menu2 {
  display: none;
  /*position: relative;*/
}

.icon-open2 {
  font-size: 25px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  padding-right: 45px;
}

.icon-close2 {
  font-size: 25px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  padding-right: 45px;
}

.hidden2 {
  display: none;
}

.sub-menu2.show {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2;
  text-align: center;
}

ul li a img{
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.imagem-link{
  border: none;
  padding: 0;
  background: none;
}

.imagem-link:hover{
  border: none;
  background: none;
}

/* social links */
#social-links{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 8px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover{
  background: var(--highlight-color); 
}

footer{
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/*slider formações*/
.c {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 5px;
  box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);

  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.ci {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  transform-origin: left 50%;
  background: inherit;
  z-index: var(--z);
  transition: .3s ease-out;
}

.ci a{
  border: none;
  padding: 0;
  background: none;
}

.ci img {
  width: 100%;
  height: 150px;
  -moz-user-select: none;
  user-select: none;
}

.ch {
  position: absolute;
  top: 70%;
  left: 4%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: hsla(var(--h) var(--s) var(--l) / .8);
  text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
}

input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

label {
  width: 10%;
  height: 10px;
  margin-right: 4px;
  border-radius: 20px;
  background: hsla(0 0% 90% / .3);
  cursor: pointer;
  position: relative;
  z-index: 10;
}

label:last-child {
  margin-right: 0;
}

input:checked+label {
  background: linear-gradient(to right,
    hsla(var(--hue) 80% 70% / .7),
    hsla(calc(var(--hue) + 30) 80% 50% / .7));
}

input:not(:checked)+label+.ci {
  transform: translateX(-100%);
  opacity: 0;
}

input:checked+label+.ci~.ci {
  transform: translateX(100%);
}

input:not(:checked)+label+.ci {
  transition: 0;
}


/* media queries */
@media (min-width: 768px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }

  #social-links a {
  padding: 15px;
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
